APP_NAME=VaidTrack Admin
APP_ENV=production
APP_DEBUG=false
APP_URL=https://vaidtrack.com/adminpanel
APP_KEY=fd553da2057401b6071040620125623dca7db4c92729c5e9f3b5b3d4f34deb8c

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=REPLACE_WITH_HOSTINGER_DB_NAME
DB_USER=REPLACE_WITH_HOSTINGER_DB_USER
DB_PASS=REPLACE_WITH_HOSTINGER_DB_PASSWORD

SESSION_NAME=vaidtrack_admin_session
SESSION_LIFETIME=7200
